@import "tailwindcss";

body {
    background: #111111;
    color: white;
    margin-inline: auto;
}

header {
    background: #191919;
    border-bottom: 1px solid #2a2a2a;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
}

footer {
    background: #191919;
    border: 1px solid #2a2a2a;
    left: 0;
    right: 0;
}

.info {
    background: #191919;
    display: flex;
    border-radius: 15px;
    border: 1px solid #2a2a2a;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.menu {
    background: #191919;
    border-radius: 15px;
    border: 1px solid #2a2a2a;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 240px;
    transform: translate(-50%, -50%);
}

@media (min-width: 1024px) {
    .menu {
        position: fixed;
        right: 20px;
        left: auto;
        top: 80px;
        transform: none;
    }
}


.tag {
    background: #191919;
    display: flex;
    border-radius: 7px;
    border: 1px solid #2a2a2a;
    padding: 9px;
    position: relative;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .info {
        padding: 40px;
    }
}