@import "tailwindcss";

body {
    background: #111111;
    color: white;
    margin-inline: auto;
}

header {
    background: #191919;
    border-bottom: 1px solid #2a2a2a;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
}

footer {
    background: #191919;
    border: 1px solid #2a2a2a;
    left: 0;
    right: 0;
}

.info {
    background: #191919;
    display: flex;
    border-radius: 15px;
    border: 1px solid #2a2a2a;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.tag {
    background: #191919;
    display: flex;
    border-radius: 7px;
    border: 1px solid #2a2a2a;
    padding: 9px;
    position: relative;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .info {
        padding: 40px;
    }
}